    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th class="read">Read?</th>
          <th>Remove Book</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(bookId, book) in libCtrl.books">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.genre}}</td>
          <td>{{book.read}}</td>
          <td><button ng-click="libCtrl.removeBook(bookId)">DELETE</button></td>
        </tr>
      </tbody>
    </table>

